.photo-grid {
    display: grid;
    gap: 0.5rem;
    grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
    grid-auto-rows: 120px;
}


    
.card-tall{
    /*start wherever, span two rows, end auto*/
    grid-row: span 2 / auto;
}
.card-wide{
    grid-column: span 2 / auto;
}
